.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem 0;
}

.container img {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.mainTitle {
  font-size: 2.5em;
}
.box {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  box-shadow: 0 0 2px 4px #f6b6b6;
  border-radius: 12px;
}


.resultWrapper {
  overflow: hidden;
  width: 19ch;
  text-align: center;
}

.result {
  display: flex;
  align-items: center;
  color: red;
  font-size: 5em;
  font-weight: bold;
  height: 1em
}

.eventButton {
  padding: .75rem 1.25rem;
  cursor: pointer;
  background: transparent;
  border: none;
  box-shadow: 0 0 0 1px #565656;
  border-radius: 8px;
  font-weight: 600;
  transition: all .3s;
  position: relative;
}

.eventButton:hover {
  background-color: #f6b6b6;
  color: #fff;
  box-shadow: 0 0 0 1px #f6b6b6;
}

.eventButton:active {
  transform: scale(0.9);
  background-color: #f88a8a;
}

.historyArea {
  width: 240px;
  height: 160px;
  overflow-y: auto;
  line-height: 2em;
}

.historyArea::-webkit-scrollbar {
  display: none;
}

.historyArea li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.result:global(.pending) {
  animation: randomGen 1s steps(30) infinite;
}

@keyframes randomGen {
  100% {
    transform: translateX(calc(-300 / 16.5 * 100%));
  }
}
