.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 0;
}

.mainTitle {
  font-size: 3em;
}

.box {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  box-shadow: 0 0 2px 4px #f6b6b6;
  border-radius: 12px;
}

.resultWrapper {
  overflow: hidden;
  width: 19ch;
  text-align: center;
}

.result {
  color: red;
  font-size: 6em;
  font-weight: bold;
}

.eventButton {
  padding: .75rem 1.25rem;
  cursor: pointer;
  background: transparent;
  border: none;
  box-shadow: 0 0 0 1px #565656;
  border-radius: 8px;
}

.historyArea {
  width: 240px;
  height: 300px;
  overflow-y: auto;
  font-size: 1.3em;
  line-height: 2em;
}

.historyArea::-webkit-scrollbar {
  display: none;
}

.historyArea li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.historyArea strong {
  font-size: 1.3em;
}

.historyTitle {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.result:global(.pending) {
  animation: randomGen 1s steps(30) infinite;
}

@keyframes randomGen {
  100% {
    transform: translateX(calc(-300 / 16.5 * 100%));
  }
}
